@model List<AssignRoleDto>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Areas/Admin/Views/Admin/AdminLayout.cshtml";
}

<h3>Rol Atama Sayfası</h3>
<h5>@ViewBag.fullName kullanıcısına rol atama işlemi yapabilirsiniz.</h5>
<form method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="form-check">
            <input type="hidden" asp-for="@Model[i].RoleId" />
            <input type="hidden" asp-for="@Model[i].RoleName" />
            <input type="hidden" asp-for="@Model[i].UserId" />
            <input type="checkbox" asp-for="@Model[i].RoleExists" class="form-check-input" />
            <label  class="form-check-label">@Model[i].RoleName</label>
        </div>
    }
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>